{% extends 'base.html.twig' %}
{% block content %}
    <section class="lavage">
        <article class="col-md-4">
            <figure>
                <img src="{{ asset('bundles/app/img/chemise.jpg') }}" alt="">
                <figcaption>
                    {{ form(form) }}
                </figcaption>
            </figure>
        </article>
    </section>
{% endblock %}