{% extends 'base.html.twig' %}
{% block content %}
    <section class="container p80">
        {{ form_start(form) }}
            {% if form.products.vars.prototype is defined %}
                <ul class="products" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}"></ul>
            {% endif %}

            {{ form_widget(form.products) }}

            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Choisir ses dates</button>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}