{% extends 'base.html.twig' %}
{% block content %}
    <section class="lavage">
        {{ form_start(form) }}
            <ul class="products" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}"></ul>

            {{ form_widget(form.products) }}

            <button type="submit" class="btn btn-primary">Commandez</button>
        {{ form_end(form) }}

    </section>

{% endblock %}