{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Paiement de votre commande</h1>
            </div>

            <div id="status">
                <p>
                    Vous êtes sur le point de payer une petite fortune.
                <form action="{{ path('app_payment_send') }}" method="POST">
                    <!-- TO DO La variable total va devoir etre changé -->
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_3F6hGY6a10YklXQez7CdZbpz"

                            data-amount= " {{ total }} "
                            data-email = " {{ app.user.email }}"
                            data-name="LaveMonLinge"
                            data-description="Paiement"
                            data-locale="auto"
                            data-currency="eur"
                            data-image="http://image.darty.com/gros_electromenager/lavage_sechage/lave-linge_hublot/proline_fp_127_silver_d1608264237200A_175754935.JPG">
                    </script>
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}






