{% extends 'base.html.twig' %}
{% block content %}


    <h2>Ma commande</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Date de collecte</th>
            <th>Date de livraison</th>
            <th>Prix unitaire</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.qte }}</td>
                <td>02/02/2017</td>
                <td>02/02/2017</td>
                <td>{{ item.product.price }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <section class="row">
        <article class="col-md-4">
            <h3>Adresse facturation</h3>
            <address>
                <ul>
                    <li>Toto</li>
                    <li>25 rue de toto</li>
                    <li>58457 Toto</li>
                    <li>TOTO</li>
                </ul>
            </address>
        </article>
        <article class="col-md-4">
            <h3>Adresse livraison</h3>
            <address>
                <ul>
                    <li>Toto</li>
                    <li>25 rue de toto</li>
                    <li>58457 Toto</li>
                    <li>TOTO</li>
                </ul>
            </address>
        </article>
        <article class="col-md-4">
            Total: 45 €
        </article>
    </section>
    <section class="buy row">
        <button class=" btn btn-success">Payer</button>
    </section>
{% endblock %}