{% extends 'base.html.twig' %}
{% block content %}
    <section class="pressing">
        <article class="col-md-4">
            <figure>
                <img src="{{ asset('bundles/app/img/chemise.jpg') }}" alt="">
                <figcaption>
                    <!-- ici form symfony -->
                </figcaption>
            </figure>
        </article>
        <article class="col-md-4">
            <figure>
                <img src="{{ asset('bundles/app/img/tshirt.jpg') }}" alt="">
                <figcaption>
                    <!-- ici form symfony -->
                </figcaption>
            </figure>
        </article>
        <article class="col-md-4">
            <figure>
                <img src="{{ asset('bundles/app/img/robe.jpg') }}" alt="">
                <figcaption>
                    <!-- ici form symfony -->
                </figcaption>
            </figure>
        </article>
    </section>
{% endblock %}