{% extends 'base.html.twig' %}
{% block content %}
    <!-- Header -->
    <header>
        HEADER
    </header>


    <div class="container">
        <!-- Example row of columns -->
        <section class="row">
            <div class="col-md-4">
                test
            </div>
            <div class="col-md-4">
                test
            </div>
            <div class="col-md-4">
                test
            </div>
        </section>
        <h2>H2</h2>
        <section>
            <article class="col-md-6">
                test
            </article>
            <article class="col-md-6">
                test
            </article>
        </section>
        <h2>H2</h2>
        <section class="row">
            <div class="col-md-4">
                test
            </div>
            <div class="col-md-4">
                test
            </div>
            <div class="col-md-4">
                test
            </div>
        </section>
        <h2>H2</h2>
        <section class="row">
            <article class="col-md-6">test</article>
            <article class="col-md-6">test</article>
        </section>
        <section class="row">
            <article class="col-md-6">test</article>
            <article class="col-md-6">test</article>
        </section>
{% endblock %}