<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Réinitialisation du mot de passe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            font-family: Arial;
            font-size:14px;
        }
        table, td, tr, th {
            border-collapse: collapse;
        }
        /*Media Queries*/
        @media only screen and (max-width:700px) {
            img[class=imgheader] {max-width:100% !important;}
            table[class=w600] {width:300px !important;}
            td,th{display:block;width:100%;text-align: center;}
        }
    </style>
</head>
<body style="margin:0px;padding:0px;">
<table style="width:100%;border:none;">
    <tr>
        <td align="center">
            <table class="w600" width="600">
                <tr>
                    <td>Lien pour changez votre mot de passe : <a href="{{ path('app_user_verifresetpassword', {'id':id,'token':token }) }}">cliquez ici</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
