{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Commander</button>
    </div>

    {{ form_end(form) }}

{% endblock %}